<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tjsimmons.SuperAndroidBatteryDonate"
    android:versionCode="142"
    android:versionName="1.4.2" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <supports-screens />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        
        <!-- widgets -->
	    <receiver android:name=".WidgetProvider_2x1" android:label="@string/widget_2x1" >
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	    	
	    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_2x1" />
		</receiver>
		
	    <receiver android:name=".WidgetProvider_1x1" android:label="@string/widget_1x1" >
	    	<intent-filter>
	        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	    	
	    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_1x1" />
		</receiver>
		
	    <!-- update service -->
	    <service android:name=".BatteryUpdateService"></service>
	    
	    <receiver android:name=".BootCompletedReceiver">
	        <intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
	    </receiver>
	</application>
</manifest>